.title{
    text-align: center;
    color: rgb(152, 152, 152);
    border: 5px solid black;
    background: rgba(20, 22, 13, 0.281);
}

.links{
    text-align: center;
    color: rgb(157, 156, 156);
    border: 5px solid black;
    background: rgba(20, 22, 13, 0.281);
}

ul{
    text-align: center;
    padding-right: 20px;
    color: khaki;
    list-style-type: none;
}

body{
    background-image: url("./img/Post-Apocalyptic+City-andreilemezec-crop.jpg");
}

.images{
    text-align: center;
    border: 10px dimgray;
}

.image-one{
    height: 50%;
    max-width: 25%;
    border: solid 3px grey;
}

.image-two{
    height: 50%;
    max-width: 25%;
    border: solid 3px grey;
}

.image-three{
    height: 50%;
    max-width: 25%;
    border: solid 3px grey;
}

.play{
    margin-left: 45%;
    background-color: green;
    height: 100px;
    width: 200px;
}

.play:hover{
    align-content: center;
    background-color: green;
    cursor: pointer;
    height: 100px;
    width: 200px;
    border-radius: 15px;
}

.footer{

}

.sidebar{
margin-left: 90%;
}
p {
    display: flex;
    justify-content: right;
    align-items: right;
    color: blue;
}
#devNames{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    text-align: right;
}
section {
    color: blue;
}
iframe {
    justify-content: center;
    align-items: center;
    z-index: -1;
}


.hero-video{
    text-align: center;
    opacity: 1;
    filter: blur(0px);
}