.title{
    text-align: center;
    color: gray;
    border: 5px solid black;
    background: rgba(20, 22, 13, 0.281);
}

.links{
    text-align: center;
    color: dimgray;
    border: 5px solid black;
    background: rgba(20, 22, 13, 0.281);
}

ul{
    text-align: center;
    padding-right: 20px;
}

body{
    background-image: url("./img/Post-Apocalyptic+City-andreilemezec-crop.jpg");
}

.images{
    text-align: center;
    border: 10px dimgray;
}

.image-one{
    height: 50%;
    max-width: 25%;
    border: solid 3px grey;
}

.image-two{
    height: 50%;
    max-width: 25%;
    border: solid 3px grey;
}

.image-three{
    height: 50%;
    max-width: 25%;
    border: solid 3px grey;
}

.play{
    margin-left: 45%;
    background-color: green;
    height: 100px;
    width: 200px;
}

.play:hover{
    align-content: center;
    background-color: green;
    cursor: pointer;
    height: 100px;
    width: 200px;
    border-radius: 15px;
}

.footer{

}

.sidebar{
margin-left: 90%;
}